<h2>Admin Dashboard</h2>
<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="red-card">
            <div class="top-row row">
                <img src="~/SVG/redUser.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Total Employees
                    </h3>
                    <h6>
                        @ViewBag.Employees
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="blue-card">
            <div class="top-row row">
                <img src="~/SVG/blueUser.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Total Companies
                    </h3>
                    <h6>
                        @ViewBag.Companies
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

